---
import Headline from '~/components/ui/Headline.astro';
import ItemGrid from '~/components/ui/ItemGrid.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';
import type { Widget as Props } from '~/types';

const {
  title = 'Widget Title',
  description = 'Widget description goes here.',
  icon = {
    src: '/path/to/icon.png',
    alt: 'Default icon',
    width: 64,
    height: 64,
  },
  id = 'widget',
  isDark = false,
  classes = {},
  bg = '',
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={classes?.container ?? 'max-w-2xl mx-auto'}
  bg={bg}
>
  <div class="flex flex-col items-center text-center widget-content">
    <div class="mb-2">
      {
        icon && (
          <Image
            class="w-16 h-16 object-contain"
            width={icon.width}
            height={icon.height}
            widths={[64, 127]}
            layout="constrained"
            {...icon}
          />
        )
      }
    </div>
    <Headline
      title={title}
      subtitle=""
      tagline=""
      classes={{
        title: 'text-2xl font-bold text-gray-800',
        subtitle: 'text-lg text-gray-600',
        ...((classes?.headline as object) ?? {}),
      }}
    />

    <div class="mt-2 text-base text-gray-600"> <!-- Changed from mt-4 to mt-2 -->
      {description}
    </div>
  </div>
</WidgetWrapper>

<style>
  .widget-content {
    padding: 0px;
    max-width: 400px;
    margin: 0 auto;
  }
</style>